@using Microsoft.AspNetCore.Components.Forms


<fieldset>
    @Contenu
    <div class="row mb-2">
        <div class="col-2">
            <button class="btn btn-success">Continue</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <button class="btn btn-success">Cancel</button>
        </div>
    </div>
</fieldset>